@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav
{
    background: #9c32f2;
    height: 80px;
    width: 100%;
}
label.logo
{
    color: #fff;
    font-size: 2.2em;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 800;
}
nav ul
{
    float: right;
    margin-right: 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a
{
    color: #fff;
    font-size: 1.1em;
    padding: 7px 12px;
    text-transform: uppercase;
}
a.active, a:hover
{
    background: #32ccf2;
    transition: 0.5s;
}
.checkbtn
{
    font-size: 2em;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
@media (max-width: 991px)
{
    label.logo
    {
        font-size: 2em;
        padding-left: 50px;
    }
    nav ul li a
    {
        font-size: 1em;
    }
}
@media (max-width: 861px)
{
    .checkbtn
    {
        display: block;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2b2e20;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        font-size: 1.2em;
    }
    a:hover,a.avtive
    {
        background: none;
        color: #32ccf2;
    }
    #check:checked ~ ul
    {
        left: 0;
    }
}
section
{
    background: url(images/4801043.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

