@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(13, 75, 83);
}
a
{
    position: relative;
    width: 160px;
    height: 50px;
    margin: 15px 10px;
    background: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: rgb(252, 255, 47);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
a::after
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: rgb(252, 255, 47);
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
a:nth-child(2)::before,
a:nth-child(2)::after
{
    background: rgb(255, 47, 158);
}
a:hover::before,
a:hover::after
{
    width: 50%;
    transition-delay: 0s;
}
a span
{
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
a span:nth-child(1)
{
    transition-delay: 0.77s;
}
a:hover span:nth-child(1)
{
    transform: scale(0);
    transition-delay: 0s;
}
a span:nth-child(2)
{
    transform: scale(3);
    opacity: 0;
    color: rgb(6, 3, 8);
    transition-delay: 0s;
}
a:hover span:nth-child(2)
{
    transform: scale(1);
    transition-delay: 0s;
    opacity: 1;
    z-index: 10;
    transition-delay: 0.5s;
}
/*a:hover span:nth-child(2)
{ 
    opacity: 1;
}*/